
<div class="container">
      <div class="menu"><%= link_to "Add Cocktail", new_cocktail_path, {class: "btn btn-flat"} %>
      </div>
      <div class="cards">
        <% @cocktails.each do | cocktail | %>

         <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= cocktail.photo.present? ? cl_image_path(cocktail.photo.key, height: 300, width: 400, crop: :fill) : image_path("missingimage.png") %>');">

            <%= link_to cocktail.name, cocktail_path(cocktail) %>
            &nbsp;<%= link_to edit_cocktail_path(cocktail) do %>
            <i class="fas fa-pen"></i>
            <% end %>

          <div class="card-catefory-infos">
          <%= link_to cocktail_path(cocktail),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="card-category-icon fas fa-times-circle"></i>
          <% end %>
          </div>
          </div>
        <% end %>
      </div>
  </div>


